
body 
{
   background-color:LightGray;
   color: LightSeaGreen; 
   font-family: Rouge Script, cursive; 
   font-size: 30px; 
   line-height: 48px; 
   text-align: center; 
   text-shadow: 1px 1px 2px #082b34; 
}

/* Five equal columns that sre aligned next to each other */
.column 
{
  float: left;
  width:18%;
  padding: 11px; 
}

/* Style the images inside the grid */
.column img 
{
  cursor: zoom-in; 
  border: 6px solid RoyalBlue;
}

/* The expanding image container */
.container 
{
  position: relative;
  display: none;
}

/* Closable button inside the expanded image */
.closebtn 
{
  position: absolute;
  top: 37px;
  right: 137px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
